@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300&display=swap"');
body {
	box-sizing: border-box;
	margin: 0;
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    background: black;
    color: white;
}
a { 
	text-decoration: none;
}
a:link {
	color: inherit;
}
a:visited {
	color: inherit;
}
header {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 999;
	justify-content: space-between;
}
#mini-menu, #menu-toggle {
	display: none;
}
#header-nav {
	display: flex;
	justify-content: flex-end;
	padding-right: 23px;
	margin-right: 38px;
	min-width: 300px;
	max-width: 550px;
}
#top-logo {
	padding-left: 23px;
	transform: translateY(2px);
}
#header-nav li {
	padding: 0px 15.5px;
	color: #d6d6d6;
	list-style: none;
	cursor: pointer;
}
#header-nav li::after{
	position: relative;
	left: 15.5px;
	width: 1px;
	height: 12px;
    background: #d6d6d6;
    content: "";
    display: inline-block;
}
#header-nav a:last-child li::after{
	width: 0px;
}
#header-nav li:hover {
	color: #fff;
}
.on-this-page {
	text-decoration: underline
}
#red-line {
    z-index: -1;
    position: fixed;
    top:0px;
    width: 100vw;
    height: 100vh;
    background-image: url("../image/redline.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position-x:  -45px;
}
#faq-title {
    font-size: 70px;
    margin-top: 60px;
    text-align: center;
}
main {
    width:85vw;
    height: calc(100vh - 260px);
    margin: auto;
    display: grid;
    grid-template-columns: 345px auto;
}
main input[name=faq-radios]{
    display: none;
}
#faq-menu {
    color: #928C8C;
    list-style: none;
    padding-left: 80px;
    border-right: 1px solid #fff;
    position: relative;
}
#faq-menu li{
    position: relative;
    padding-left: 30px;
    font-size: 30px;
    line-height: 78px;
}
#fm-sel {
    position: absolute;
    background: #FF0909;
    width: 265px;
    height: 66px;
    top: 11px;
    transform: translateX(-0.8px);
    transition: top, left ease 0.3s;
}
#fr-live:checked ~ #faq-menu #fm-sel{ top: 6px; }
#fr-live:checked ~ #faq-menu #label-live{ color: white; }
#fr-live:checked ~ #qaa #qa-live{ visibility: visible; left: 90px; }

#fr-recording:checked ~ #faq-menu #fm-sel{ top: 84px; }
#fr-recording:checked ~ #faq-menu #label-recording{ color: white; }
#fr-recording:checked ~ #qaa #qa-recording{ visibility: visible; left: 90px; }

#fr-sharing:checked ~ #faq-menu #fm-sel{ top: 162px; }
#fr-sharing:checked ~ #faq-menu #label-sharing{ color: white; }
#fr-sharing:checked ~ #qaa #qa-sharing{ visibility: visible; left: 90px; }

#fr-practicing:checked ~ #faq-menu #fm-sel{ top: 240px; }
#fr-practicing:checked ~ #faq-menu #label-practicing{ color: white; }
#fr-practicing:checked ~ #qaa #qa-practicing{ visibility: visible; left: 90px; }

#qaa {
    position: relative;
    padding-top: 6px;
    padding-left: 90px;
    overflow-x: hidden;
    overflow-y: auto;
}
.qa-section {
    visibility: hidden;
    position: absolute;
    left: 100%;
    width: calc(100% - 90px);
    transition: left ease 0.5s;
}
.qa-group {
    position: relative;
    width: 100%;
    background: rgba(255,255,255,0.15);
    left: 0%;
    margin-top: 8px;
}
.qa-first{
    margin-top: 0px;
}
.qa-question {
    position: relative;
    padding: 15px 0px 15px 35px;
    width: calc(100% - 95px);
    font-size: 22px;
    display: inline-block;
}
.qa-question::before{
    position: absolute;
    top: 19px;
    left: 20px;
    width: 6px;
    height: 18px;
    background: #fff;
    content: "";
}
.qa-question::after{
    position: absolute;
    background: url("../image/arrow.png");
    background-size: 100% 100%;
    left: calc( 100% + 18px);
    top: 24px;
    width: 18px;
    height: 13px;
    content: "";
}
.qa-answer {
    display: none;
    padding: 0px 50px 20px 35px;
    font-size: 16px;
    font-weight: bold;
    color: #AAAAAA;
    line-height: 25px;
}
.qa-checkbox { display: none; }
#live-q1:checked ~ #live-qa1 { background: rgba(255,255,255,0.23); }
#live-q1:checked ~ #live-qa1 .qa-answer { display: block; }
#live-q1:checked ~ #live-qa1 .qa-question::after { transform: rotate(180deg); }

#live-q2:checked ~ #live-qa2 { background: rgba(255,255,255,0.23); }
#live-q2:checked ~ #live-qa2 .qa-answer { display: block; }
#live-q2:checked ~ #live-qa2 .qa-question::after { transform: rotate(180deg); }

#live-q3:checked ~ #live-qa3 { background: rgba(255,255,255,0.23); }
#live-q3:checked ~ #live-qa3 .qa-answer { display: block; }
#live-q3:checked ~ #live-qa3 .qa-question::after { transform: rotate(180deg); }

#recording-q1:checked ~ #recording-qa1 { background: rgba(255,255,255,0.23); }
#recording-q1:checked ~ #recording-qa1 .qa-answer { display: block; }
#recording-q1:checked ~ #recording-qa1 .qa-question::after { transform: rotate(180deg); }

#recording-q2:checked ~ #recording-qa2 { background: rgba(255,255,255,0.23); }
#recording-q2:checked ~ #recording-qa2 .qa-answer { display: block; }
#recording-q2:checked ~ #recording-qa2 .qa-question::after { transform: rotate(180deg); }

#recording-q3:checked ~ #recording-qa3 { background: rgba(255,255,255,0.23); }
#recording-q3:checked ~ #recording-qa3 .qa-answer { display: block; }
#recording-q3:checked ~ #recording-qa3 .qa-question::after { transform: rotate(180deg); }

#sharing-q1:checked ~ #sharing-qa1 { background: rgba(255,255,255,0.23); }
#sharing-q1:checked ~ #sharing-qa1 .qa-answer { display: block; }
#sharing-q1:checked ~ #sharing-qa1 .qa-question::after { transform: rotate(180deg); }

#sharing-q2:checked ~ #sharing-qa2 { background: rgba(255,255,255,0.23); }
#sharing-q2:checked ~ #sharing-qa2 .qa-answer { display: block; }
#sharing-q2:checked ~ #sharing-qa2 .qa-question::after { transform: rotate(180deg); }

#sharing-q3:checked ~ #sharing-qa3 { background: rgba(255,255,255,0.23); }
#sharing-q3:checked ~ #sharing-qa3 .qa-answer { display: block; }
#sharing-q3:checked ~ #sharing-qa3 .qa-question::after { transform: rotate(180deg); }

#practicing-q1:checked ~ #practicing-qa1 { background: rgba(255,255,255,0.23); }
#practicing-q1:checked ~ #practicing-qa1 .qa-answer { display: block; }
#practicing-q1:checked ~ #practicing-qa1 .qa-question::after { transform: rotate(180deg); }

#practicing-q2:checked ~ #practicing-qa2 { background: rgba(255,255,255,0.23); }
#practicing-q2:checked ~ #practicing-qa2 .qa-answer { display: block; }
#practicing-q2:checked ~ #practicing-qa2 .qa-question::after { transform: rotate(180deg); }

#practicing-q3:checked ~ #practicing-qa3 { background: rgba(255,255,255,0.23); }
#practicing-q3:checked ~ #practicing-qa3 .qa-answer { display: block; }
#practicing-q3:checked ~ #practicing-qa3 .qa-question::after { transform: rotate(180deg); }

@media (max-width: 670px) {
    body{ 
		overflow-x: hidden;
	}
	#header {
		background: #160505;
		height: 60px;
	}
	#mini-menu {
		display: inherit;
		width: 23px;
		padding-right: 20px;
	}
	#header-nav {
		display: block;
		position: absolute;
		width: 100vw;
		transition: height ease 500ms;
		top: 60px;
		height: 0px;
		overflow: hidden;
		margin-top: -1px;
	}
	#header-nav li{
		height: 50px;
		line-height: 50px;
		background: #262626;
		margin: -1px 0px;
	}
	#header-nav li::after{
		width: 0px;
	}
	#header-nav li:last-child{
		box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
	}
	#menu-toggle:checked+#header-nav {
		height: 200px;
	}
	#top-logo {
		width: 130px;
		padding-left: 12px;
    }
    #red-line{
        opacity: 0.4;
    }
    #faq-title {
        font-size: 50px;
        margin-bottom: 0px;
    }
    main{
        grid-template-columns: unset;
        grid-template-rows: 80px auto;
        height: calc(100vh - 170px);
    }
    #faq-menu {
        padding-left: 0px;
        border-right: none;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    #faq-menu li{
        text-align: center;
        padding-left: 0px;
        font-size: 14px;
    }
    #fm-sel{
        width: 25%;
        height: 30px;
        top: 20px;
    }
    #qaa {
        overflow: unset;
        padding-left: 0px;
    }
    #fr-live:checked ~ #faq-menu #fm-sel{ left: 0%; top: 23px;}
    #fr-recording:checked ~ #faq-menu #fm-sel{ left: 25%; top: 23px;}
    #fr-sharing:checked ~ #faq-menu #fm-sel{ left: 50%; top: 23px;}
    #fr-practicing:checked ~ #faq-menu #fm-sel{ left: 75%; top: 23px;}

    #fr-live:checked ~ #qaa #qa-live{ visibility: visible; left: 0px; }
    #fr-recording:checked ~ #qaa #qa-recording{ visibility: visible; left: 0px; }
    #fr-sharing:checked ~ #qaa #qa-sharing{ visibility: visible; left: 0px; }
    #fr-practicing:checked ~ #qaa #qa-practicing{ visibility: visible; left: 0px; }
    .qa-section {
        width: 100%;
    }
    .qa-question {
        font-size: 18px;
    }
    .qa-question::before{
        height: 14px;
        top: 18px;
    }
    .qa-answer {
        font-size: 15px;
    }
}
@media (max-width: 320px){
    #faq-menu li{
        font-size: 12px;
    }
}