@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
header {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
    z-index: 999;
}
footer {
	height: 250px;
	background-color: #050E16; 
	padding-top: 48px;
	position: relative;
}
section {
	height: 80vh;
	min-height: 700px;
}
h4 {
	margin: 0 0 15px 0;
	font-size: 1.5em;
}
#header-nav {
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	margin: 0;
	width: 80%;
	min-width: 300px;
	max-width: 550px;
}
#header-nav a {
	color: #d6d6d6;
	text-decoration: unset;
}
#header-nav a:hover {
	color: #fff;
	text-decoration: unset;
}
#header-nav li {
	color: #d6d6d6;
	list-style: none;
	cursor: pointer;
}
#header-nav li:hover {
	color: #fff;
}

#first {
	background-color: #242424;
	display: flex;
	align-items: center;
	justify-content: center;
}
#arrow {
	width: 80%;
	display: flex;
	justify-content: space-between;
	opacity: .3;
}
/*product*/
#product{
	height: unset;
	min-height: unset;
	margin-top: 50px;
	position: relative;
}
#product h4 {
	width: 80%;
	max-width: 1366px;
	margin: 0 auto 20px;
}
#info {
	background-color: #ececec;
	height: 600px;
}
#up-spec {
	width: 100%;
	height: 620px;
	position: absolute;
	top: -10px;
}
#in-spec {
	width: 80%;
	max-width: 1366px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#in-spec::before {
	content: "";
	width: 50%;
	height: 100%;
}
#spec {
	background-color: #DDDFE3;
	width: 50%;
	min-width: 400px;
	height: 100%;
}
#spec h4 {
	margin: 10px auto 20px ;
}
.every-spec {
	width: 80%;
	margin: 35px auto 0;
}
.spec-block {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: flex-end;
	border-bottom: 1px solid #707070;
	padding-bottom: 11px;
	margin-top: 11px;
}	
.title {
	font-size: 1em;
	font-weight: 300;
}
.spec-content {
	font-size: 1.2em;
	font-weight: 500;
}

#slogan {
	height: 300px;
	min-height: unset;
	background-image: url("../image/licap-pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center -5%;
	background-attachment: fixed;
	position: relative;
}
#slogan p {
	margin: 0;
    color: #fff;
    font-size: 4.5em;
    letter-spacing: 5px;
}
.show-block {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.black-block {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: .4;
	z-index: 1;
}
/*footer區塊*/
#phone-footer-nav {
	display: none;
}
#footer-nav {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	width: 65%;
    max-width: 750px;
    min-width: 600px;
}
.footer-title {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	margin: 0 0 20px 0;
}
.footer-series p {
	font-size: 17px;
	color: #fff;
    margin: 0 0 10px 0;
    cursor: pointer;
}
#footer-link {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 23px;
}
#footer-link img {
	height: 25px;
	display: block;
	cursor: pointer;
}
.copyight {
	color: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
}