@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Righteous|Roboto&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
header {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 999;
	justify-content: space-between;
}
#mini-menu, #menu-toggle {
	display: none;
}
footer {
	height: 200px;
	background-color: #160505; 
	padding-top: 48px;
	position: relative;
}
section {
	height: 80vh;
	min-height: 700px;
}
a {
	color: unset;
    text-decoration: unset;
}
h4 {
	margin: 0 0 15px 0;
	font-size: 1.5em;
}
.black-background {
	background-color: #160505;
}
#header-nav {
	display: flex;
    justify-content: flex-end;
    padding-right: 23px;
    margin-right: 38px;
    min-width: 300px;
    max-width: 550px;
}
#header-nav a {
	color: #d6d6d6;
	text-decoration: unset;
}
#header-nav a:hover {
	color: #fff;
	text-decoration: unset;
}
#top-logo {
	padding-left: 23px;
	transform: translateY(2px);
}
#header-nav li {
	padding: 0px 15.5px;
	color: #d6d6d6;
	list-style: none;
	cursor: pointer;
}
#header-nav li:hover {
	color: #fff;
}
#header-nav li::after{
	position: relative;
	left: 15.5px;
	width: 1px;
	height: 12px;
    background: #d6d6d6;
    content: "";
    display: inline-block;
}

#header-nav a:last-child li::after{
	width: 0px;
}
.on-this-page {
	text-decoration: underline
}
#first {
	background-color: #160505;
	display: flex;
	align-items: center;
	justify-content: center;
}
#display {
	position: relative;
	width: 80%;
	display: flex;
	justify-content: center;
}
#display img{
	opacity: .3;
}
#rotate-3d{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translate(-50%, -50%);
}
#touch-tip {
	display: none;
}
/*product*/
#product{
	height: unset;
	min-height: unset;
	margin-top: 50px;
	position: relative;
}
#product h4 {
	width: 40%;
	max-width: 1366px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
#product h4::before {
	content: "";
	width: 20%;
	height: 10px;
	background: #e01E0a;
	border-radius: 0  20px 20px 0;
	margin-right: 5%;
}
#info {
	background-color: #e0e0e0;
	display: flex;
	align-items: center;
}
#info-content {
	width: 40%;
	margin-left: 10%;
	padding-top: 21px;
    font-size: 18px;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
}
#info img {
	width: 40%;
}
#up-spec {
	width: 100%;
	height: 620px;
	position: absolute;
	top: -10px;
}
#in-spec {
	width: 80%;
	max-width: 1366px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#in-spec::before {
	content: "";
	width: 50%;
	height: 100%;
}
#spec {
	min-width: 400px;
	margin-top: 60px;
	height: 50vh;
}
#spec h4 {
	display: flex;
	align-items: center;
	width: 40%;
	max-width: 1366px;
}
#spec h4::before {
	content: "";
	width: 20%;
	height: 10px;
	background: #e01E0a;
	border-radius: 0  20px 20px 0;
	margin-right: 5%;
}

.every-spec {
	width: 80%;
	margin: 60px auto 0;
}
.spec-block {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: flex-end;
	border-bottom: 1px solid #707070;
	padding-bottom: 11px;
	margin-top: 11px;
}	
.title {
	font-size: 1.2em;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
}
.spec-content {
	padding-left: 10px;
	font-size: 1em;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

#slogan {
	height: 300px;
	min-height: unset;
	background-image: url("../image/licap-pic-red.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 40%;
	position: relative;
}
#slogan p {
	margin: 0;
    color: #fff;
    font-size: 4.5em;
    letter-spacing: 5px;
}
#midi {
	font-family: 'Righteous', cursive;
	font-size: 80px;
	color: #e01e0a;
}
.show-block {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.black-block {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: .4;
	z-index: 1;
}
/* liccon */
#liccon {
	height: unset;
	padding-bottom: 5vh;
}
.banner {
	background-color: #e01e0a;
	width: 100%;
	height: 135px;
}
.banner h2 {
	color: #fff;
	font-size: 5em;
	font-weight: bold;
	margin: 0 0 0 10%;
}
.banner p {
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 0 10%;
}
#liccon-on-mobile {
	display: none;
}
.liccon-des{
	width: 80%;
    max-width: 1000px;
    margin: 35px auto 0;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}
#liccon-line {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.svg-block.user-setting{
	position: absolute;
	top: -150px;
	left: -50px;
	height: 60%;
    max-height: 300px;
}
.svg-block.show-playtime {
	position: absolute;
	bottom: -50px;
	left: 5%;
	height: 50%;
	max-height: 480px;
	/* left: 80px; */
}
.svg-block.select-zone {
	position: absolute;
	bottom: -24%;
	left: 36%;
	height: 50%;
    /* max-height: 450px; */
}
.svg-block.select-dot {
	right: -9%;
	height: 50%;
    position: absolute;
    bottom: -12%;
}
.svg-block.edit-function{
	position: absolute;
    right: -7%;
	top: -20%;
	height: 70%;
}
.svg-block.set-parameter {
	position: absolute;
	top: -5%;
	left: 38%;
	height: 47%;
}
.svg-line{
	stroke-width: 2;
	stroke: #c1c1c1;
	fill: none;
	stroke-dashoffset: 600;
	stroke-dasharray: 600;
}
.svg-line.is-show {
	animation: drawing 1.5s forwards;
}
@keyframes drawing {
	100%{
		stroke-dashoffset: 0;
	}
}

#liccon-window{
	width: 85%;
	max-width: 1366px;
	margin: 3vh  auto 0;
	position: relative;
}
#main {
	width: 100%;
	position: relative;
}
.show-info{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #c1c1c1;
	animation: jump 1.5s infinite;
	cursor: pointer;
	z-index: 3;
	transition: ease .5s;
	transform: rotate(0deg);
}
.show-info::after,.show-info::before{
	content: '';
	width: 15px;
	height: 4px;
	background: #1a1515;
	position: absolute;
	border-radius: 15px;
	top: 13px;
	left: 8px;
}
.show-info::before{
	transform: rotate(90deg);
	left: 8px;
}
.show-info::after {
	opacity: 1;
}
.show-info.is-show {
	transform: rotate(90deg);
}
.show-info.is-show::after{
	opacity: 0;
}
.show-info:hover{
	/* animation: unset; */
}
@keyframes jump {
	0%{
		box-shadow: 0 0 0 5px rgba(255,255,255,.5);
	}
	100%{
		box-shadow: 0 0 0 8px rgba(255,255,255,0);
	}
}

.des-block{
	position: relative;
	height: 140px;
	margin: 30px auto 0;
    width: 85%;
	max-width: 1366px;
	
	display: flex;
	justify-content: space-between;
}
.info-des{
	opacity: 0;
	position: relative;
	/* position: absolute; */
	/* width: 295px; */
	width: 29%;
	min-height: 95px;
	padding: 30px 1% 10px;
	/* padding: 30px 10px 10px; */
	background: rgba(0,0,0,.5);
	color: white;
	/* margin-top: 200px; */
	transition: .5s .5s;
	display: flex;
	align-items: center;
}

/* .close-btn {
	z-index: 10;
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
	cursor: pointer;
	position: absolute;
	top: 5px;
    left: 0px;
}
.close-btn::after, .close-btn::before{
	content:'';
	position: absolute;
	width: 15px;
	height: 2px;
	background: white;
	top: 15px;
	left: 10px;
}
.close-btn::after{
	transform: rotate(45deg);
}
.close-btn::before{
	transform: rotate(-45deg);
} */
.info-des p{
	margin: 0;
}
#user-setting {
	top: 15%;
	left: 10%;
}
#show-playtime {
	bottom: 30%;
	left: 28%;
}
#select-zone {
	bottom: 25%;
	left: 50%;
}
#select-dot {
	bottom: 36%;
    right: 26%;
}
#edit-function {
	top: 42%;
	right: 5%;
}
#set-parameter {
	top: 25%;
    left: 55%;
}
.is-show {
	opacity: 1;
	/* margin-top: 0; */
}
.img-change {
	position: absolute;
	z-index: 2;
	opacity: 0;
	transition: ease .5s;
}
.img-change.is-show {
	opacity: 1;
}
.img-change.show-playtime {
	bottom: 20%;
    left: 20.1%;
    width: 21.5%;
}
.img-change.select-zone{
	bottom: 16.5%;
	left: 51%;
	width: 35%;
}
.img-change.select-dot {
	width: 2.5%;
    bottom: 32%;
    right: 23.8%;
}
.img-change.select-zone.parameter {
	top: 8%;
    left: 20%;
    width: 35%;
}
.img-change.select-dot.parameter {
	width: 35%;
    top: 8%;
    left: 56%;
}
.img-change.select-zone.not-show {
	bottom: 17%;
	opacity: 1;
}
.img-change.select-dot.not-show {
	bottom: 32.5%;
	opacity: 1;
}
.img-change.select-zone.not-show.is-show,.img-change.select-dot.not-show.is-show{
	opacity: 0;
}

/* download區塊 */
#liccon-download {
	height: 30vh;
	min-height: 300px;
	margin-bottom: 70px;
}
#liccon-download h5 {
	text-align: center;
	font-size: 2.5em;
    margin-top: 0;
    text-align: center;
}
.download-block {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 80vw;
	max-width: 760px;
	margin: 30px auto ;
}
.download-btn-block {
	width: 33%;
	max-width: 220px;
	margin: 0 5px;
}
.download-tip-text {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
}
.download-btn {
	border: solid 1px black;
	border-radius: 15px;
	background: transparent;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 33%;
	max-width: 220px; */
	width: 100%;
	padding: 20px 0px;
	position: relative;
	cursor: pointer;
}
.download-btn img {
	width: 10%;
	min-width: 50px;
	margin-left: 10px;
}
.logo-unhover,.download-btn:hover .logo-hover {
	display: block;
	opacity: 1;
	transition: ease .5s;
	z-index: 1;
}
.logo-hover,.download-btn:hover .logo-unhover {
	display: none;
	opacity: 0;
}
.download-btn::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: white;
	border-radius: 15px;
	z-index: -2;
}
.download-btn:hover, .download-btn:hover img {
	color: white;
}
.download-btn:hover::before {
	transition: ease 0.5s;
	background: black;
	width: 100%;
	
}
/*footer區塊*/
#phone-footer-nav {
	display: none;
}
#footer-nav {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
    max-width: 1000px;
	margin: 0 auto;
}
.footer-title {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	margin: 0 0 20px 0;
}
.footer-series p {
	font-size: 17px;
	color: #fff;
    margin: 0 0 10px 0;
    cursor: pointer;
}
#footer-link {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#footer-link img {
	height: 25px;
	display: block;
	cursor: pointer;
}
.footer-series p {
	font-size: 17px;
	color: #fff;
    margin: 0 0 5px 0;
    cursor: pointer;
}
.footer-btn {
	display: flex;
}
.footer-btn li {
	padding: 0 15.5px;
	color: #fff;
	list-style: none;
	cursor: pointer;
}
.footer-btn li::after {
    position: relative;
    left: 15.5px;
    width: 1px;
    height: 12px;
    background: #d6d6d6;
    content: "";
    display: inline-block;
}
.footer-btn li:last-child::after {
	display: none;
}
#footer-link {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 17px;
	width: 50%;
}
#footer-link img {
	height: 20px;
	display: block;
	cursor: pointer;
}
.copyight {
	color: #fff;
	font-size: 14px;
	width: 90%;
	margin: 50px auto 0;
	border-top: 1px #fff solid;
	text-align: center;
	padding-top: 15px;
}
.email-at {
	width: 15px;
	padding: 0px 1px;
	transform: translateY(3px);
}
/*common style*/
@media (max-width: 950px) {
	.footer-btn {
		display: unset
	}
	#footer-link {
		width: unset;
	}
	.footer-btn li {
		margin-bottom: 5px;
	}
	.footer-btn li::after{
		display: none;
	}
	.copyight {
		margin: 25px auto 0;
	}
}
@media (max-width: 670px) {
	body{ 
		overflow-x: hidden;
	}
	footer {
		padding-top: 20px;
		padding-bottom: 30px; 
		height: unset;
	}
	#header {
		background: #160505;
		height: 60px;
	}
	#mini-menu {
		display: inherit;
		width: 23px;
		padding-right: 20px;
	}
	#header-nav {
		display: block;
		position: absolute;
		width: 100vw;
		transition: height ease 500ms;
		top: 60px;
		height: 0px;
		overflow: hidden;
		margin-top: -1px;
	}
	#header-nav li{
		height: 50px;
		line-height: 50px;
		background: #262626;
		margin: -1px 0px;
	}
	#header-nav li::after{
		width: 0px;
	}
	#header-nav li:last-child{
		box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
	}
	#menu-toggle:checked+#header-nav {
		height: 250px;
	}
	#top-logo {
		width: 130px;
		padding-left: 12px;
	}
	h3 {
		-webkit-text-stroke: unset;
		color: #fff;
	}
	#touch-hand{
		width: fit-content;
		position: relative;
		margin-bottom: 5px;
		animation-name: touch-hand-move;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
	#touch-tip{
		display: unset;
		color:rgba(255,255,255,0.3);
		text-align: center;
		padding-bottom: 10px;
	}
	@keyframes touch-hand-move {
		from {	left: -30px;}
		to {	left: 30px;}
	}
	#product h4 {
		width: unset;
		margin: 0 auto 20px;
	}
	#spec h4 {
		width: unset;
		margin: auto;
	}
	#product h4::before, #spec h4::before {
		/* width: 10px;
		border-radius: 30px;; */
	}
	#info img {
		width: 80%;
	}
	/*footer*/
	#footer-nav {
		display: none;
	}
	#footer-link {
		width: 60%;
    	margin: 0 auto 25px;
	}
	#phone-footer-nav {
		display: flex;
		flex-direction: column;
	}
	#phone-footer-nav p {
		color: #fff;
		margin: 0 0 5px 0;
		text-align: center;
	}
	.contact-block p{
		font-size: 13px;
	}
	.footer-btn {
		display: unset;
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-btn li {
		margin-bottom: 15px;
	}
	.footer-btn li::after {
		display: none;
	}
	.copyight {
		margin: 20px auto 0;
		font-size: 12px;
	}


	/* liccon on mobile */
	.banner {
		height: 165px;
	}
	.banner h2, .banner p {
		margin: 0 0 0 10px;
	}
	.des-block, #liccon-window{
		display: none;
	}
	#liccon-on-mobile {
		display: block;
		position: relative;
		margin-top: 45px;
	}
	#mobile-zoom {
		width: 100vw;
		background-image: url("../image/liccon/main.png");
		height: 300px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50 50;
		transition: ease .5s;
		position: relative;
	}
	.mobile-dot.mobile-is-show {
		transform: rotate(90deg)
	}
	.mobile-des {
		background-color: #c1c1c1;
		color: white;
		width: 90vw;
		height: 200px;
		opacity: 0;
		transition: ease 0.5s;
		margin: 10px auto 0;
	}
	.mobile-des.mobile-is-show {
		opacity: 1;
	}
	.show-info.mobile-is-show::after{
		opacity: 0;
	}
	#user-setting{
		top: 0%;
		left: 10%;
	}
	#set-parameter {
		top: 8%;
	}
	#edit-function {
		top: 19%;
	}
	#show-playtime {
		bottom: unset;
		top: 25%;
	}
	#select-zone {
		bottom: unset;
		top: 35%;
	}
	#select-dot {
		bottom: unset;
		right: 15%;
		top: 30%;
	}
	.mobile-zone-parameter,.mobile-dot-parameter {
		opacity: 0;
		position: absolute;
		top: 15%;
		width: 60%;
		
	}
	.mobile-dot-parameter {
		left: 62%;
	}
	.mobile-zone-parameter.mobile-is-show,.mobile-dot-parameter.mobile-is-show {
		opacity: 1;
		transition: ease .5s .5s;
	}
	.mobile-show-playtime {
		opacity: 0;
		position: absolute;
		top: 24%;
		left: 4%;
		height: 60%;
	}
	.mobile-show-playtime.mobile-is-show {
		opacity: 1;
		transition: ease .5s .5s;
	}
	.mobile-select-zone {
		opacity: 0;
		position: absolute;
    	top: 44%;
	}
	.mobile-select-zone.mobile-is-show {
		opacity: 1;
		transition: ease .5s .5s;
	}
	.mobile-select-dot {
		opacity: 0;
		position: absolute;
		top: 43%;
		right: 27%;
	}
	.mobile-select-dot.mobile-is-show {
		opacity: 1;
		transition: ease .5s .5s;
	}

	/* download */
	#liccon-download {
		height: 50vh;
		min-height: 550px;
	}
	.download-block {
		flex-direction: column;
	}
	.download-btn-block {
		width: 85%;
		max-width: unset;
		min-width: 150px;
		margin: 10px auto;
	}
}

/*specific style for licap*/
@media (max-width: 670px) {
	#slogan {
		position: relative;
		margin-top: 60px;
		height: 150px;
	}
	.show-block {
		font-size: 6px;
	}
	#midi {
		font-size: 25px;
	}
	#first {
		height: fit-content;
		min-height: unset;
	}
	#display {
		flex-direction: column;
		width: 100%;
	}
	#licap-model {
		text-align: center;
	}
	#rotate-3d{
		width: 40px;
		height: 40px;
	}
	#product {
		margin-top: 20px;
	}
	#info {
		flex-direction: column-reverse;
	}
	#info img {
		width: 80%;
	}
	#info-content {
		width: 85%;
		margin: 0px auto 21px;
	}
	#spec {
		font-size: 15px;
		min-width: inherit;
	}
	.every-spec {
		margin-top: 30px;
	}
}