@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Righteous&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
header {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 999;
	justify-content: space-between;
}
#mini-menu, #menu-toggle {
	display: none;
}
footer {
	height: 200px;
	background-color: #050E16; 
	padding-top: 48px;
	position: relative;
}
section {
	height: 80vh;
	min-height: 700px;
}
a {
	color: unset;
    text-decoration: unset;
}
h4 {
	margin: 0 0 15px 0;
	font-size: 1.5em;
}
.black-background {
	background-color: black;
}
#header-nav {
	display: flex;
    justify-content: flex-end;
    padding-right: 23px;
    margin-right: 38px;
    min-width: 300px;
    max-width: 550px;
}
#header-nav a {
	color: #d6d6d6;
	text-decoration: unset;
}
#header-nav a:hover {
	color: #fff;
	text-decoration: unset;
}
#top-logo {
	padding-left: 23px;
	transform: translateY(2px);
}
#header-nav li {
	padding: 0px 15.5px;
	color: #d6d6d6;
	list-style: none;
	cursor: pointer;
}
#header-nav li:hover {
	color: #fff;
}
#header-nav li::after{
	position: relative;
	left: 15.5px;
	width: 1px;
	height: 12px;
    background: #d6d6d6;
    content: "";
    display: inline-block;
}

#header-nav a:last-child li::after{
	width: 0px;
}
.on-this-page {
	text-decoration: underline
}
#first {
	background-color: #242424;
	display: flex;
	align-items: center;
	justify-content: center;
}
#display {
	width: 80%;
	display: flex;
	justify-content: space-between;
}
#display img{
	opacity: .5;
}
/*product*/
#product{
	height: unset;
	min-height: unset;
	margin-top: 50px;
	position: relative;
}
#product h4 {
	width: 40%;
	max-width: 1366px;
	margin: 0 0 20px 10%;
}
#info {
	background-color: #ececec;
	display: flex;
	align-items: center;
}
#info-content {
	width: 40%;
	margin-left: 10%;
	padding-top: 21px;
    font-size: 1.3em;
    line-height: 35px;
}
#info img {
	width: 40%;
}
#up-spec {
	width: 100%;
	height: 620px;
	position: absolute;
	top: -10px;
}
#in-spec {
	width: 80%;
	max-width: 1366px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#in-spec::before {
	content: "";
	width: 50%;
	height: 100%;
}
#spec {
	min-width: 400px;
	margin-top: 60px;
	height: 50vh;
}
#spec h4 {
	width: 40%;
	max-width: 1366px;
	margin: 0 0 20px 10%;
}
.every-spec {
	width: 80%;
	margin: 60px auto 0;
}
.spec-block {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: flex-end;
	border-bottom: 1px solid #707070;
	padding-bottom: 11px;
	margin-top: 11px;
}	
.title {
	font-size: 1em;
	font-weight: 300;
}
.spec-content {
	font-size: 1.2em;
	font-weight: 500;
}

#slogan {
	height: 300px;
	min-height: unset;
	background-image: url("../image/licap-pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 40%;
	position: relative;
}
#slogan p {
	margin: 0;
    color: #fff;
    font-size: 4.5em;
    letter-spacing: 5px;
}
#midi {
	font-family: 'Righteous', cursive;
	font-size: 80px;
}
.show-block {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.black-block {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: .4;
	z-index: 1;
}
/*footer區塊*/
#phone-footer-nav {
	display: none;
}
#footer-nav {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
    max-width: 1000px;
	margin: 0 auto;
}
.footer-title {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	margin: 0 0 20px 0;
}
.footer-series p {
	font-size: 17px;
	color: #fff;
    margin: 0 0 10px 0;
    cursor: pointer;
}
#footer-link {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#footer-link img {
	height: 25px;
	display: block;
	cursor: pointer;
}
.footer-series p {
	font-size: 17px;
	color: #fff;
    margin: 0 0 5px 0;
    cursor: pointer;
}
.footer-btn {
	display: flex;
}
.footer-btn li {
	padding: 0 15.5px;
	color: #fff;
	list-style: none;
	cursor: pointer;
}
.footer-btn li::after {
    position: relative;
    left: 15.5px;
    width: 1px;
    height: 12px;
    background: #d6d6d6;
    content: "";
    display: inline-block;
}
.footer-btn li:last-child::after {
	display: none;
}
#footer-link {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 17px;
	width: 50%;
}
#footer-link img {
	height: 20px;
	display: block;
	cursor: pointer;
}
.copyight {
	color: #fff;
	font-size: 14px;
	width: 90%;
	margin: 50px auto 0;
	border-top: 1px #fff solid;
	text-align: center;
	padding-top: 15px;
}
.email-at {
	width: 15px;
	padding: 0px 1px;
	transform: translateY(3px);
}
/*common style*/
@media (max-width: 950px) {
	.footer-btn {
		display: unset
	}
	#footer-link {
		width: unset;
	}
	.footer-btn li {
		margin-bottom: 5px;
	}
	.footer-btn li::after{
		display: none;
	}
	.copyight {
		margin: 25px auto 0;
	}
}
@media (max-width: 670px) {
	body{ 
		overflow-x: hidden;
	}
	footer {
		padding-top: 20px;
		padding-bottom: 30px; 
		height: unset;
	}
	#header {
		background: black;
		height: 60px;
	}
	#mini-menu {
		display: inherit;
		width: 23px;
		padding-right: 20px;
	}
	#header-nav {
		display: block;
		position: absolute;
		width: 100vw;
		transition: height ease 500ms;
		top: 60px;
		height: 0px;
		overflow: hidden;
		margin-top: -1px;
	}
	#header-nav li{
		height: 50px;
		line-height: 50px;
		background: #262626;
		margin: -1px 0px;
	}
	#header-nav li::after{
		width: 0px;
	}
	#header-nav li:last-child{
		box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
	}
	#menu-toggle:checked+#header-nav {
		height: 200px;
	}
	#top-logo {
		width: 130px;
		padding-left: 12px;
	}
	h3 {
		-webkit-text-stroke: unset;
		color: #fff;
	}

	/*footer*/
	#footer-nav {
		display: none;
	}
	#footer-link {
		width: 60%;
    	margin: 0 auto 25px;
	}
	#phone-footer-nav {
		display: flex;
		flex-direction: column;
	}
	#phone-footer-nav p {
		color: #fff;
		margin: 0 0 5px 0;
		text-align: center;
	}
	.contact-block p{
		font-size: 13px;
	}
	.footer-btn {
		display: unset;
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-btn li {
		margin-bottom: 15px;
	}
	.footer-btn li::after {
		display: none;
	}
	.copyight {
		margin: 20px auto 0;
		font-size: 12px;
	}
}

/*specific style for licap*/
@media (max-width: 670px) {
	#slogan {
		position: relative;
		margin-top: 60px;
		height: 150px;
	}
	.show-block {
		font-size: 6px;
	}
	#midi {
		font-size: 25px;
	}
	#first {
		height: fit-content;
		min-height: unset;
	}
	#display {
		flex-direction: column;
		width: 100%;
	}
	#licap-model {
		text-align: center;
	}
	#display img {
		width: 70px;
		margin: auto;
	}
	#rotate-right{
		transform: translateY(60px) rotate(70deg);
	}
	#rotate-left{
		transform: translateY(-60px) rotate(70deg);
	}
	#product {
		margin-top: 20px;
	}
	#product h4 {
		margin: 0 auto 20px;
	}
	#info {
		flex-direction: column-reverse;
	}
	#info img {
		width: 80%;
	}
	#info-content {
		width: 85%;
		margin: 0px auto 21px;
	}
	#spec {
		font-size: 15px;
		min-width: inherit;
	}
	#spec h4 {
		width: fit-content;
		margin: auto;
	}
	.every-spec {
		margin-top: 30px;
	}
}